{% extends 'base.html' %}
{% block title %}Добавить списание материала{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2>Добавить списание материала</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.material_name.label_tag }}
            {{ form.material_name }}
            {% if form.material_name.errors %}
                <div class="text-danger small">{{ form.material_name.errors }}</div>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.quantity.label_tag }}
            {{ form.quantity }}
            {% if form.quantity.errors %}
                <div class="text-danger small">{{ form.quantity.errors }}</div>
            {% endif %}
        </div>

        <div class="mb-3">
            <label for="{{ form.unit.id_for_label }}">Ед. изм.</label>
            {{ form.unit }}            
            {% if form.unit.errors %}
                <div class="text-danger small">{{ form.unit.errors }}</div>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.destination.label_tag }}
            {{ form.destination }}
            {% if form.destination.errors %}
                <div class="text-danger small">{{ form.destination.errors }}</div>
            {% endif %}
        </div>
        {{ form.department }}
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a href="{% url 'shift_log:material_writeoff_list' %}" class="btn btn-secondary ms-2">Назад к списку</a>
    </form>
</div>
{% endblock %} 